# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Entorno / secretos
.env
*.env
!.env.example

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs y temporales
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db
